{% load i18n static %}

<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Logout</title>

  <link href="{% static "broadcast/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "broadcast/font-awesome/css/font-awesome.css" %}" rel="stylesheet">

  <link href="{% static "broadcast/css/animate.css" %}" rel="stylesheet">
  <link href="{% static "broadcast/css/style.css" %}" rel="stylesheet">

</head>

<body class="gray-bg">

<div class="lock-word animated fadeInDown">
  <span>{% trans "SESIÓN FINALIZADA" %}</span>
</div>
  <div class="middle-box text-center lockscreen animated fadeInDown">
    <div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br />
      <a href="{% url "login" %}" class="btn btn-primary">{% trans "Ingresar Nuevamente" %}</a>
    </div>
  </div>

  <!-- Mainly scripts -->
  <script src="{% static "broadcast/js/jquery-2.1.1.js" %}"></script>
  <script src="{% static "broadcast/js/bootstrap.min.js" %}"></script>

</body>

</html>
