{% load i18n static %}

<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Login</title>

  <link href="{% static "broadcast/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "broadcast/font-awesome/css/font-awesome.css" %}" rel="stylesheet">

  <link href="{% static "broadcast/css/animate.css" %}" rel="stylesheet">
  <link href="{% static "broadcast/css/style.css" %}" rel="stylesheet">

</head>

<body class="gray-bg">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <h1 class="logo-name">M+</h1>
      </div>

      <p>{% trans "Plataforma para envío masivo de mensajes de texto SMS y mensajes de voz" %}</p>

      <form method="post" class="m-t" role="form">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username" required="">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

        <!--
        <a href="{% url "password_reset" %}"><small>{% trans "¿Olvidó su contraseña?" %}</small></a>
        <p class="text-muted text-center"><small>{% trans "¿Aún no se ha registrado?" %}</small></p>
        <a class="btn btn-sm btn-white btn-block" href="#">{% trans "Crear usuario" %}</a>
        -->
      </form>

      <p class="m-t"> <small>{% trans "Sistema de envío masivo de mensajería" %} &copy; 2017</small> </p>
    </div>
  </div>

  <!-- Mainly scripts -->
  <script src="{% static "broadcast/js/jquery-2.1.1.js" %}"></script>
  <script src="{% static "broadcast/js/bootstrap.min.js" %}"></script>

</body>

</html>
