{% load i18n static %}

<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}</title>

  <link href="{% static "broadcast/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "broadcast/font-awesome/css/font-awesome.css" %}" rel="stylesheet">

  {% block styles %}{% endblock %}

  <link href="{% static "broadcast/css/animate.css" %}" rel="stylesheet">
  <link href="{% static "broadcast/css/style.css" %}" rel="stylesheet">

</head>

<body>

  <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
            <div class="dropdown profile-element">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                  <span class="block m-t-xs">
                    <strong class="font-bold">{{ user.first_name }} {{ user.last_name }}</strong>
                  </span>
                  <span class="text-muted text-xs block">{% trans "Administrador" %} <b class="caret"></b></span>
                </span>
              </a>
              <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
            <div class="logo-element">
              M+
            </div>
          </li>
          <li class="{{ menu_users }}">
            <a href="{% url "user_list" %}"><i class="fa fa-users"></i> <span class="nav-label">{% trans "Usuarios" %}</span></a>
          </li>
          <li class="{{ menu_packages }}">
            <a href="{% url "package_list" %}"><i class="fa fa-cubes"></i> <span class="nav-label">{% trans "Paquetes" %}</span></a>
          </li>
          <li class="{{ menu_campaigns }}">
            <a href="{% url "campaign_list" %}"><i class="fa fa-tasks"></i> <span class="nav-label">{% trans "Campañas" %}</span></a>
          </li>
          <li class="{{ menu_lists }}">
            <a href="{% url "list_list" %}"><i class="fa fa-list"></i> <span class="nav-label">{% trans "Listas" %}</span></a>
          </li>
          <li class="{{ menu_stats }}">
            <a href="{% url "reports" %}"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{% trans "Estadísticas" %}</span></a>
          </li>
          <li class="{{ menu_setup }}">
            <a href="{% url "setup" %}"><i class="fa fa-cogs"></i> <span class="nav-label">{% trans "Configuración" %}</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
          </div>

          <ul class="nav navbar-top-links navbar-right">
            <li>
              <a href="{% url 'logout' %}">
                <i class="fa fa-sign-out"></i> Log out
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="wrapper wrapper-content animated fadeInRight">
        <!--
        <div class="row">
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="label label-success pull-right">Monthly</span>
                <h5>Income</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">40 886,200</h1>
                <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                <small>Total income</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="label label-info pull-right">Annual</span>
                <h5>Orders</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">275,800</h1>
                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                <small>New orders</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="label label-primary pull-right">Today</span>
                <h5>visits</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">106,120</h1>
                <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                <small>New visits</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="label label-danger pull-right">Low value</span>
                <h5>User activity</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">80,600</h1>
                <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                <small>In first month</small>
              </div>
            </div>
          </div>
        </div>
        -->

        {% block content %}{% endblock %}

      </div>

      <div class="footer">
        <div class="pull-right">
          10GB of <strong>250GB</strong> Free.
        </div>
        <div>
          <strong>Copyright</strong> Example Company &copy; 2014-2017
        </div>
      </div>

    </div>
  </div>

  <!-- Mainly scripts -->
  <script src="{% static "broadcast/js/jquery-2.1.1.js" %}"></script>
  <script src="{% static "broadcast/js/bootstrap.min.js" %}"></script>
  <script src="{% static "broadcast/js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
  <script src="{% static "broadcast/js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

  <!-- Additional scripts -->
  {% block scripts %}{% endblock %}

  <!-- Custom and plugin javascript -->
  <script src="{% static "broadcast/js/inspinia.js" %}"></script>
  <script src="{% static "broadcast/js/plugins/pace/pace.min.js" %}"></script>

</body>

</html>
