{% extends 'broadcast/base.html' %}
{% load i18n static %}

{% block title %}
  {% if form.instance.id %}
    {% trans "Edición de Campaña" %}
  {% else %}
    {% trans "Nueva Campaña" %}
  {% endif %}
{% endblock %}

{% block styles %}
<link href="{% static "broadcast/css/plugins/switchery/switchery.css" %}" rel="stylesheet">
<link href="{% static "broadcast/css/plugins/chosen/bootstrap-chosen.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          {{ message }}
        </div>
      {% endfor %}

      <div class="ibox-title">
        {% if form.instance.id %}
        <h5>{% trans "Edición de campaña <small>Campos marcados con <b>*</b> son obligatorios.</small>" %}</h5>
        {% else %}
        <h5>{% trans "Nueva campaña <small>Campos marcados con <b>*</b> son obligatorios.</small>" %}</h5>
        {% endif %}
      </div>

      <div class="ibox-content">
        <form method="post" class="form-horizontal">
          {% csrf_token %}

          <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label for="name" class="col-sm-2 control-label">{% trans "Nombre *" %}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="name" title="name"
                     value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
              <span class="help-block m-b-none">{{ form.name.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.campaign_type.errors %}has-error{% endif %}">
            <label for="campaign_type" class="col-sm-2 control-label">{% trans "Tipo *" %}</label>
            <div class="col-sm-9">
              <select class="form-control" name="campaign_type" title="campaign_type">
                {% for pk, type in form.fields.campaign_type.choices %}
                  <option value="{{ pk }}" {% if pk == form.campaign_type.value %}selected{% endif %}>
                    {{ type }}
                  </option>
                {% endfor %}
              </select>
              <span class="help-block m-b-none">{{ form.campaign_type.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.owner.errors %}has-error{% endif %}">
            <label for="owner" class="col-sm-2 control-label">{% trans "Cliente *" %}</label>
            <div class="col-sm-9">
              <select class="form-control" name="owner" title="owner">
                {% for pk, username in form.fields.owner.choices %}
                  <option value="{{ pk }}" {% if form.owner.value and pk == form.owner.value %}selected{% endif %}>
                    {{ username }}
                  </option>
                {% endfor %}
              </select>
              <span class="help-block m-b-none">{{ form.owner.errors }}</span>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group {% if form.message.errors %}has-error{% endif %}">
            <label for="message" class="col-sm-2 control-label">{% trans "Mensaje *" %}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="message" title="message"
                     value="{% if form.message.value %}{{ form.message.value }}{% endif %}">
              <span class="help-block m-b-none">{{ form.message.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.description.errors %}has-error{% endif %}">
            <label for="description" class="col-sm-2 control-label">{% trans "Descripción" %}</label>
            <div class="col-sm-9">
              <textarea rows="1" class="form-control" name="description" title="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
              <span class="help-block m-b-none">{{ form.description.errors }}</span>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group {% if form.is_active.errors %}has-error{% endif %}">
            <label for="is_active" class="col-sm-2 control-label">{% trans "Activo" %}</label>
            <input type="checkbox" name="is_active" class="js-switch" title="is_active"
                   {% if form.is_active.value %}checked{% endif %}>
          </div>

          <div class="hr-line-dashed"></div>

          {% if form.instance.id %}
          <div class="form-group {% if form.packages.errors %}has-error{% endif %}">
            <label for="packages" class="col-sm-2 control-label">{% trans "Paquetes" %}</label>
            <div class="col-sm-9">
              <select data-placeholder="{% trans 'Escoja un paquete' %}" class="chosen-select form-control" multiple name="packages" title="packages">
                {% for pk, name in form.fields.packages.choices %}
                  <option value="{{ pk }}" {% if form.packages.value and pk in form.packages.value %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
              </select>
              <span class="help-block m-b-none">{{ form.packages.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.lists.errors %}has-error{% endif %}">
            <label for="lists" class="col-sm-2 control-label">{% trans "Listas" %}</label>
            <div class="col-sm-9">
              <select data-placeholder="{% trans 'Escoja una lista' %}" class="chosen-select form-control" multiple tabindex="4" name="lists" title="lists">
                {% for pk, name in form.fields.lists.choices %}
                  <option value="{{ pk }}" {% if form.lists.value and pk in form.lists.value %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
              </select>
              <span class="help-block m-b-none">{{ form.lists.errors }}</span>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <a href="{% url "load_campaign" campaign.pk %}" class="btn btn-default {% if campaign.status != None %}disabled{% endif %}">{% trans "Cargar" %}</a>
              <a href="{% url "run_campaign" campaign.pk %}" class="btn btn-info {% if campaign.status != 0 %}disabled{% endif %}">{% trans "Iniciar" %}</a>
            </div>
          </div>

          <div class="hr-line-dashed"></div>
          {% endif %}

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <a href="{% url "campaign_list" %}" class="btn btn-white">{% trans "Cancelar" %}</a>
              <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
              {% if form.instance.id %}
              <a class="btn btn-danger pull-right" data-toggle="modal" href="{% url "campaign_delete" campaign.pk %}" data-target="#confirm-delete">
                {% trans "Borrar" %}
              </a>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="confirm-delete" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "broadcast/js/plugins/switchery/switchery.js" %}"></script>
<script src="{% static "broadcast/js/plugins/chosen/chosen.jquery.js" %}"></script>
<script>
  $(document).ready(function () {
    new Switchery(document.querySelector('.js-switch'), { color: '#1AB394' });

    $('.chosen-select').chosen({width: "100%"});
  });
</script>
{% endblock %}
