{% extends 'broadcast/base.html' %}
{% load i18n static %}
{% load ui_classes %}

{% block title %}
  {% trans "Reporte Campañas" %}
{% endblock %}

{% block styles %}
<link href="{% static "broadcast/css/plugins/dataTables/datatables.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox-content">
      <form method="get" class="form-inline">

        <div class="form-group">
          <div class="col-sm-9">
            <select class="form-control" name="campaign" title="campaign">
              <option value="">{% trans "Seleccione una campaña" %}</option>
              {% for campaign in campaigns %}
                <option value="{{ campaign.pk }}" {% if campaign.pk == selected_campaign|add:0 %}selected{% endif %}>
                  {{ campaign.name }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">{% trans "Enviar" %}</button>
      </form>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title"></div>

      <div class="ibox-content">

        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables" >
            <thead>
              <tr>
                <th>{% trans "Destino" %}</th>
                <th>{% trans "Lista" %}</th>
                <th>{% trans "Mensaje" %}</th>
                <th>{% trans "Paquete" %}</th>
                <th>{% trans "Valor" %}</th>
                <th>{% trans "Último envío" %}</th>
                <th>{% trans "Estado" %}</th>
              </tr>
            </thead>

            <tbody>
            {% for report in reports %}
              <tr>
                <td>{{ report.phone.number }}</td>
                <td>{{ report.phone.phone_list.name }}</td>
                <td>{{ report.message }}</td>
                <td>{{ report.package.package.name }}</td>
                <td class="text-right">{{ report.value }}</td>
                <td>{{ report.last_sent | default_if_none:'' }}</td>
                <td class="text-center"><span class="label label-{{ report.status | status_label }}">{{ report.status_name }}</span></td>
              </tr>
            {% endfor %}
            </tbody>

            <tfoot>
              <tr>
                <th>{% trans "Destino" %}</th>
                <th>{% trans "Lista" %}</th>
                <th>{% trans "Mensaje" %}</th>
                <th>{% trans "Paquete" %}</th>
                <th>{% trans "Valor" %}</th>
                <th>{% trans "Último envío" %}</th>
                <th>{% trans "Estado" %}</th>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "broadcast/js/plugins/dataTables/datatables.min.js" %}"></script>
<script>
  $(document).ready(function () {
    $('.dataTables').DataTable({
      pageLength: 10,
      responsive: true,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [
        {extend: 'copy'},
        {extend: 'csv'},
        {extend: 'excel', title: 'ExampleFile'},
        {extend: 'pdf', title: 'ExampleFile'},
        {extend: 'print',
          customize: function (win) {
            $(win.document.body).addClass('white-bg');
            $(win.document.body).css('font-size', '10px');

            $(win.document.body).find('table')
                .addClass('compact')
                .css('font-size', 'inherit');
          }
        }
      ]
    });
  });
</script>
{% endblock %}
