{% extends 'broadcast/base.html' %}
{% load i18n static %}

{% block title %}
  {% if form.instance.id %}
    {% trans "Edición de Paquete" %}
  {% else %}
    {% trans "Nuevo Paquete" %}
  {% endif %}
{% endblock %}

{% block styles %}
<link href="{% static "broadcast/css/plugins/switchery/switchery.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        {% if form.instance.id %}
        <h5>{% trans "Edición de paquete <small>Campos marcados con <b>*</b> son obligatorios.</small>" %}</h5>
        {% else %}
        <h5>{% trans "Nuevo paquete <small>Campos marcados con <b>*</b> son obligatorios.</small>" %}</h5>
        {% endif %}
      </div>

      <div class="ibox-content">
        <form method="post" class="form-horizontal">
          {% csrf_token %}

          <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label for="name" class="col-sm-2 control-label">{% trans "Nombre *" %}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="name" title="name"
                     value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
              <span class="help-block m-b-none">{{ form.name.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.package_type.errors %}has-error{% endif %}">
            <label for="package_type" class="col-sm-2 control-label">{% trans "Tipo *" %}</label>
            <div class="col-sm-9">
              <select class="form-control" name="package_type" title="package_type">
                {% for pk, type in form.fields.package_type.choices %}
                  <option value="{{ pk }}" {% if pk == form.package_type.value %}selected{% endif %}>
                    {{ type }}
                  </option>
                {% endfor %}
              </select>
              <span class="help-block m-b-none">{{ form.package_type.errors }}</span>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group {% if form.bucket.errors %}has-error{% endif %}">
            <label for="bucket" class="col-sm-2 control-label">{% trans "Bucket *" %}</label>
            <div class="col-sm-9">
              <input type="text"  class="form-control" name="bucket" title="bucket"
                     value="{% if form.bucket.value %}{{ form.bucket.value }}{% endif %}">
              <span class="help-block m-b-none">{{ form.bucket.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.price.errors %}has-error{% endif %}">
            <label for="price" class="col-sm-2 control-label">{% trans "Precio *" %}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="price" title="price"
                     value="{% if form.price.value %}{{ form.price.value|floatformat }}{% endif %}">
              <span class="help-block m-b-none">{{ form.price.errors }}</span>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group {% if form.description.errors %}has-error{% endif %}">
            <label for="description" class="col-sm-2 control-label">{% trans "Descripción" %}</label>
            <div class="col-sm-9">
              <textarea rows="1" class="form-control" name="description" title="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
              <span class="help-block m-b-none">{{ form.description.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.is_active.errors %}has-error{% endif %}">
            <label for="is_active" class="col-sm-2 control-label">{% trans "Activo" %}</label>
            <input type="checkbox" name="is_active" class="js-switch" title="is_active"
                   {% if form.is_active.value %}checked{% endif %}>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <a href="{% url "package_list" %}" class="btn btn-white">{% trans "Cancelar" %}</a>
              <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
              {% if form.instance.id %}
              <a class="btn btn-danger pull-right" data-toggle="modal" href="{% url "package_delete" package.pk %}" data-target="#confirm-delete">
                {% trans "Borrar" %}
              </a>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="confirm-delete" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "broadcast/js/plugins/switchery/switchery.js" %}"></script>
<script>
  $(document).ready(function () {
    new Switchery(document.querySelector('.js-switch'), { color: '#1AB394' });
  });
</script>
{% endblock %}
