{% load i18n %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">{% trans "Borrado de Paquete" %}</h4>
</div>
<div class="modal-body">
  {% if perms_lacking %}
    <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
    <ul>
    {% for obj in perms_lacking %}
      <li>{{ obj }}</li>
    {% endfor %}
    </ul>
  {% elif protected %}
    <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktrans %}</p>
    <ul>
    {% for obj in protected %}
      <li>{{ obj }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>
      {% trans "Está seguro de borrar el paquete " %}"{{ object }}"?. {% trans "Los usuarios perderán el paquete." %}
    </p>

    <form method="post" action="{% url "package_delete" package.pk %}">{% csrf_token %}
      <div>
        <input type="hidden" name="post" value="yes" />
        {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
        {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
        <input class="btn btn-danger" type="submit" value="{% trans "Yes, I'm sure" %}" />
      </div>
    </form>
  {% endif %}
</div>
