{% extends 'broadcast/base.html' %}
{% load i18n static %}

{% block title %}
  {% trans "Lista Paquetes" %}
{% endblock %}

{% block styles %}
<link href="{% static "broadcast/css/plugins/dataTables/datatables.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          {{ message }}
        </div>
      {% endfor %}

      <div class="ibox-title">
        <div class="ibox-tools">
          <a href="{% url "package_add" %}" class="btn btn-primary" style="color: white !important;">
            <i class="fa fa-plus"></i> {% trans "Nuevo Paquete" %}
          </a>
        </div>
      </div>
      <div class="ibox-content">

        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables" >
            <thead>
              <tr>
                <th>{% trans "Nombre" %}</th>
                <th>{% trans "Tipo" %}</th>
                <th>{% trans "Descripción" %}</th>
                <th>{% trans "Bucket" %}</th>
                <th>{% trans "Precio" %}</th>
                <th>{% trans "Activo" %}</th>
              </tr>
            </thead>

            <tbody>
            {% for package in packages %}
              <tr>
                <td><a href="{% url "package_update" package.id %}">{{ package.name }}</a></td>
                <td>{{ package.package_type_name }}</td>
                <td>{{ package.description }}</td>
                <td>{{ package.bucket }}</td>
                <td class="text-right">{{ package.price|floatformat }}</td>
                <td class="text-center">
                {% if package.is_active %}
                  <span class="badge badge-primary"><i class="fa fa-thumbs-up"></i></span>
                {% else %}
                  <span class="badge badge-danger"><i class="fa fa-thumbs-down"></i></span>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>

            <tfoot>
              <tr>
                <th>{% trans "Nombre" %}</th>
                <th>{% trans "Tipo" %}</th>
                <th>{% trans "Descripción" %}</th>
                <th>{% trans "Bucket" %}</th>
                <th>{% trans "Precio" %}</th>
                <th>{% trans "Activo" %}</th>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "broadcast/js/plugins/dataTables/datatables.min.js" %}"></script>
<script>
  $(document).ready(function () {
    $('.dataTables').DataTable({
      pageLength: 10,
      responsive: true,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [
        {extend: 'copy'},
        {extend: 'csv'},
        {extend: 'excel', title: 'ExampleFile'},
        {extend: 'pdf', title: 'ExampleFile'},
        {extend: 'print',
          customize: function (win) {
            $(win.document.body).addClass('white-bg');
            $(win.document.body).css('font-size', '10px');

            $(win.document.body).find('table')
                .addClass('compact')
                .css('font-size', 'inherit');
          }
        }
      ]
    });
  });
</script>
{% endblock %}
