{% extends 'broadcast/base.html' %}
{% load i18n static %}

{% block title %}
  {% if form.instance.id %}
    {% trans "Edición de Lista" %}
  {% else %}
    {% trans "Nueva Lista" %}
  {% endif %}
{% endblock %}

{% block styles %}
<link href="{% static "broadcast/css/plugins/switchery/switchery.css" %}" rel="stylesheet">
<link href="{% static "broadcast/css/plugins/jasny/jasny-bootstrap.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        {% if form.instance.id %}
        <h5>{% trans "Edición de lista <small>Campos marcados con <b>*</b> son obligatorios.</small>" %}</h5>
        {% else %}
        <h5>{% trans "Nueva lista <small>Campos marcados con <b>*</b> son obligatorios.</small>" %}</h5>
        {% endif %}
      </div>

      <div class="ibox-content">
        <form method="post" class="form-horizontal" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label for="name" class="col-sm-2 control-label">{% trans "Nombre *" %}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="name" title="name"
                     value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
              <span class="help-block m-b-none">{{ form.name.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.owner.errors %}has-error{% endif %}">
            <label for="owner" class="col-sm-2 control-label">{% trans "Cliente *" %}</label>
            <div class="col-sm-9">
              <select class="form-control" name="owner" title="owner">
                {% for pk, username in form.fields.owner.choices %}
                  <option value="{{ pk }}" {% if form.owner.value and pk == form.owner.value %}selected{% endif %}>
                    {{ username }}
                  </option>
                {% endfor %}
              </select>
              <span class="help-block m-b-none">{{ form.owner.errors }}</span>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group {% if form.description.errors %}has-error{% endif %}">
            <label for="description" class="col-sm-2 control-label">{% trans "Descripción" %}</label>
            <div class="col-sm-9">
              <textarea rows="1" class="form-control" name="description" title="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
              <span class="help-block m-b-none">{{ form.description.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.is_active.errors %}has-error{% endif %}">
            <label for="is_active" class="col-sm-2 control-label">{% trans "Activo" %}</label>
            <input type="checkbox" name="is_active" class="js-switch" title="is_active"
                   {% if form.is_active.value %}checked{% endif %}>
          </div>

          <div class="hr-line-dashed"></div>

          {% if form.instance.id %}

          <div class="form-group">
            <label for="phones" class="col-sm-2 control-label">{% trans "Teléfonos" %}</label>
            <div class="col-sm-9">
              <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput">
                  <i class="glyphicon glyphicon-file fileinput-exists"></i>
                  <span class="fileinput-filename"></span>
                </div>
                <span class="input-group-addon btn btn-default btn-file">
                  <span class="fileinput-new">{% trans "Seleccionar archivo" %}</span>
                  <span class="fileinput-exists">{% trans "Cambiar" %}</span>
                  <input type="file" name="phones" title="phones"/>
                </span>
                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">{% trans "Borrar" %}</a>
              </div>
            </div>
          </div>

          <div class="hr-line-dashed"></div>
          {% endif %}

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <a href="{% url "list_list" %}" class="btn btn-white">{% trans "Cancelar" %}</a>
              <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
              {% if form.instance.id %}
              <a class="btn btn-danger pull-right" data-toggle="modal" href="{% url "list_delete" phonelist.pk %}" data-target="#confirm-delete">
                {% trans "Borrar" %}
              </a>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="confirm-delete" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "broadcast/js/plugins/switchery/switchery.js" %}"></script>
<script src="{% static "broadcast/js/plugins/jasny/jasny-bootstrap.min.js" %}"></script>
<script>
  $(document).ready(function () {
    new Switchery(document.querySelector('.js-switch'), { color: '#1AB394' });
  });
</script>
{% endblock %}
