{% extends 'broadcast/base.html' %}
{% load i18n static %}

{% block title %}
  {% trans "Configuración" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          {{ message }}
        </div>
      {% endfor %}

      <div class="ibox-title">
        <h5>{% trans "Configuración del Sistema <small>Proceda con cuidado.</small>" %}</h5>
      </div>

      <div class="ibox-content">
        <form method="post" class="form-horizontal">
          {% csrf_token %}

          {% for field in fields %}
            <div class="form-group">
              <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.name }}</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="{{ field.label }}" title="{{ field.label }}"
                       value="{{ field.value }}">
                <!-- <span class="help-block m-b-none">{% trans "Tipo de valor:" %} {{ field.value_type_name }}</span> -->
              </div>
            </div>
          {% endfor %}

          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
