{% extends 'broadcast/base.html' %}
{% load i18n static %}

{% block title %}
  {% trans "Nuevo Usuario" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>{% trans "Nuevo usuario <small>Campos marcados con <b>*</b> son obligatorios.</small>" %}</h5>
      </div>

      <div class="ibox-content">
        <form method="post" class="form-horizontal">
          {% csrf_token %}

          <div class="form-group {% if form.username.errors %}has-error{% endif %}">
            <label for="username" class="col-sm-2 control-label">{% trans "Usuario *" %}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="username" title="username"
                     value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
              <span class="help-block m-b-none">{{ form.username.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
            <label for="password1" class="col-sm-2 control-label">{% trans "Contraseña *" %}</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password1" title="password1">
              <span class="help-block m-b-none">{{ form.password1.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
            <label for="password2" class="col-sm-2 control-label">{% trans "Confirmación Contraseña *" %}</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password2" title="password2">
              <span class="help-block m-b-none">{{ form.password2.errors }}</span>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <a href="{% url "user_list" %}" class="btn btn-white">{% trans "Cancelar" %}</a>
              <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
