{% extends 'broadcast/base.html' %}
{% load i18n static %}

{% block title %}
  {% trans "Edición de Usuario" %}
{% endblock %}

{% block styles %}
<link href="{% static "broadcast/css/plugins/switchery/switchery.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>{% trans "Edición de usuario <small>Campos marcados con <b>*</b> son obligatorios.</small>" %}</h5>
      </div>

      <div class="ibox-content">
        <form method="post" class="form-horizontal">
          {% csrf_token %}

          <input type="hidden" name="date_joined"
                 value="{% if form.date_joined.value %}{{ form.date_joined.value | date:'Y-m-d H:i:s' }}{% endif %}">

          <div class="form-group {% if form.username.errors %}has-error{% endif %}">
            <label for="username" class="col-sm-2 control-label">{% trans "Usuario *" %}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="username" title="username"
                     value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
              <span class="help-block m-b-none">{{ form.username.errors }}</span>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
            <label for="first_name" class="col-sm-2 control-label">{% trans "Nombres" %}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="first_name" title="first_name"
                     value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
              <span class="help-block m-b-none">{{ form.first_name.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
            <label for="last_name" class="col-sm-2 control-label">{% trans "Apellidos" %}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="last_name" title="last_name"
                     value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
              <span class="help-block m-b-none">{{ form.last_name.errors }}</span>
            </div>
          </div>

          <div class="form-group {% if form.email.errors %}has-error{% endif %}">
            <label for="email" class="col-sm-2 control-label">{% trans "Correo" %}</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" name="email" title="email"
                     value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
              <span class="help-block m-b-none">{{ form.email.errors }}</span>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group {% if profile_form.balance.errors %}has-error{% endif %}">
            <label for="balance" class="col-sm-2 control-label">{% trans "Saldo" %}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="balance" title="balance"
                     value="{% if profile_form.balance.value %}{{ profile_form.balance.value|floatformat }}{% endif %}">
              <span class="help-block m-b-none">{{ profile_form.balance.errors }}</span>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group {% if form.is_active.errors %}has-error{% endif %}">
            <label for="is_active" class="col-sm-2 control-label">{% trans "Activo" %}</label>
            <input type="checkbox" name="is_active" class="js-switch-1" title="is_active"
                   {% if form.is_active.value %}checked{% endif %}>
          </div>

          <div class="form-group {% if form.is_superuser.errors %}has-error{% endif %}">
            <label for="is_superuser" class="col-sm-2 control-label">{% trans "Administrador" %}</label>
            <input type="checkbox" name="is_superuser" class="js-switch-2" title="is_superuser"
                   {% if form.is_superuser.value %}checked{% endif %}>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <button id="add-package" class="btn btn-info" type="button"><i class="fa fa-plus"></i>{% trans "Agregar Paquete" %}</button>
            </div>
          </div>

          {{ formset.management_form }}

          <div id="packages-container">
          {% for package_form in formset %}
            {% for hidden in package_form.hidden_fields %}{{ hidden }}{% endfor %}

            <input type="hidden" name="userpackage_set-{{ forloop.counter0 }}-left" value="0">

            <div class="form-group {% if package_form.package.errors %}has-error{% endif %}">
              <label for="userpackage_set-{{ forloop.counter0 }}-package" class="col-sm-2 control-label">
                {% trans "Paquete " %}{{ forloop.counter }}
              </label>
              <div class="col-sm-9">
                <select class="form-control" name="userpackage_set-{{ forloop.counter0 }}-package" title="userpackage_set-{{ forloop.counter0 }}-package">
                  {% for pk, name in package_form.fields.package.choices %}
                    <option value="{{ pk }}" {% if package_form.package.value and package_form.package.value == pk %}selected{% endif %}>{{ name }}</option>
                  {% endfor %}
                </select>
                <span class="help-block m-b-none">{{ package_form.package.errors }}</span>
                <!-- <span class="help-block m-b-none">{{ package_form.errors }}</span> -->
              </div>
            </div>
          {% endfor %}
          </div>

          <!-- Template to Add Packages -->
          <div id="package-template" style="display: none;">
            {% for hidden in formset.empty_form.hidden_fields %}{{ hidden }}{% endfor %}

            <input type="hidden" name="userpackage_set-__prefix__-left" value="0">

            <div class="form-group {% if package_form.package.errors %}has-error{% endif %}">
              <label for="userpackage_set-__prefix__-package" class="col-sm-2 control-label">{% trans "Paquete " %}__prefix1__</label>
              <div class="col-sm-9">
                <select class="form-control" name="userpackage_set-__prefix__-package" title="userpackage_set-__prefix__-package">
                  {% for pk, name in formset.empty_form.fields.package.choices %}
                    <option value="{{ pk }}">{{ name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <!-- End of Template -->

          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <a href="{% url "user_list" %}" class="btn btn-white">{% trans "Cancelar" %}</a>
              <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
              <a class="btn btn-danger pull-right" data-toggle="modal" href="{% url "user_delete" user.pk %}" data-target="#confirm-delete">
                {% trans "Borrar" %}
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="confirm-delete" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "broadcast/js/plugins/switchery/switchery.js" %}"></script>
<script>
  $(document).ready(function () {
    new Switchery(document.querySelector('.js-switch-1'), { color: '#1AB394' });
    new Switchery(document.querySelector('.js-switch-2'), { color: '#ED5565' });

    $('#add-package').on('click', function () {
      var total = $('#id_userpackage_set-TOTAL_FORMS');

      var index = total.val();
      $('div#packages-container').append(
        $('div#package-template').html().replace(/__prefix__/g, index).replace(/__prefix1__/g, parseInt(index) + 1)
      );
      total.val(parseInt(index) + 1);
    });
  });
</script>
{% endblock %}
